<title>Login page</title>

<form id="login-form" [formGroup]="loginForm">
  <span id="title"> Hello! Please log in! </span>
  <br />
  <br />
  <mat-label for="username">Username: </mat-label>
  <mat-form-field>
    <input matInput id="username" type="text" formControlName="username" />
  </mat-form-field>
  <br />
  <br />
  <mat-label for="password">Password: </mat-label>
  <input id="password" type="password" formControlName="password" />
  <br /><br />

  <button mat-raised-button id="login-button" color="primary" (click)="logIn()">Login my friend</button>
</form>
