<p i18n>product-detail works!</p>

<main>
  <div class="card" *ngIf="selectedProduct$ | async">
    <a href="#"><i class="fa fa-arrow-left"></i></a>
    <h3 i18n>New products</h3>
    <div class="card__body">
      <h1 i18n>{{ product.description }}</h1>
      <p class="sub" i18n>{{ product.name }}</p>
      <p class="price" i18n>${{ product.price }}</p>
      <div class="image">
        <img src="{{ product.image }}" alt="" width="300px" />
      </div>
    </div>
    <div class="action">
      <button
        mat-raised-button
        color="primary"
        class="add"
        type="button"
        [disabled]="!canAddToCart"
        (click)="addToCart()"
        (click)="onLeave()"
        i18n
      >
        Add to cart
      </button>
      <br />
      <br />
      <button
        mat-raised-button
        color="warn"
        class="remove"
        type="button"
        [disabled]="!canEditProduct"
        (click)="deleteProdus(product.id)"
        (click)="onLeave()"
        i18n
      >
        Delete product from the list
      </button>
      <br /><br />
      <button
        mat-raised-button
        color="primary"
        class="edit"
        type="button"
        [disabled]="!canEditProduct"
        [routerLink]="['/EditProduct', product.id]"
        (click)="onLeave()"
        i18n
      >
        Edit this product
      </button>
    </div>
  </div>
</main>
